#movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  height: 225px;
  color: white;
  padding: 10px;
  margin: 10px;
  background-color: rgb(150, 150, 190);
  border-radius: 8px;
  #titleAndBtns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    #btns {
      button {
        margin-left: 5px;
        width: 50px;
        height: 25px;
      }
    }
    h2 {
      margin: 0;
      width: 66%;
    }
    display: flex;
  }
  #info {
    display: flex;
    align-items: center;
    img {
      width: 118px;
      height: 151px;
      margin: 10px 10px 0px 0px;
    }
    #genres {
      margin-left: 15px;
    }
    ul:not(#genres) {
      list-style: none;
      margin-left: 15px;
      li {
        margin-top: 5px;
      }
    }
  }
}
