h2 {
  margin: 25px;
}

form {
  #genre {
    display: flex;
  }
  ul {
    li {
      justify-content: center;
      list-style: none;
    }
  }
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 25px;
  input {
    margin: 5px;
    height: 25px;
  }
  input[type="submit"] {
    width: 100px;
  }
  input[type="button"] {
    width: 100%;
  }
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
