* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

body nav {
  background-color: #9696be;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: larger;
}

body nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

body nav ul li {
  display: inline;
}

body nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 15px;
}

body nav ul li a:hover {
  background-color: #787896;
}
