* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  nav {
    background-color: rgb(150, 150, 190);
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: larger;
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline;
        a {
          text-decoration: none;
          color: white;
          display: block;
          padding: 15px;
          &:hover {
            background-color: rgb(120, 120, 150);
          }
        }
      }
    }
  }
}
